
/* Свойства для сброса начальных стилей элементов */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    color: #303030;
}

header {   
    width: 1440px;
    height: 70px; 
    background-color: #2965f1;
    padding: 23px 0px;
}

header span {
    margin-top: 23px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0px;
    min-height: 100%;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    max-width: 715px;
}


.about-section {
    background-color: #fff;
    padding: 100px 0px;
}

select {
    width: 150px;
    padding: 9px 0px 8px 12px;
    font-weight: 400;
    font-size: 16px;
    background: url(image/ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position:  top 10px  right 12px  ;
    appearance: none;
}

.section-title {
    font-weight: 700;
    font-size: 24px; 
    margin-bottom: 25px;
}

.frameworks-list {
    list-style-image: url(image/Vector\ \(1\).png);
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
}

.label {
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    width: 330px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    padding: 9px 0px 8px 12px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
}

.btn {
    width: 125px;
    height: 36px;
    border-radius: 5px;
    background-color: #2965f1;
    border: none;
    margin-left: 9px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    margin: 60px 0px;
    border: 1px solid rgba(48, 48, 48, 0.3);
}

table {
    width: 300px;
    height: 196px; 
    border: 1px solid #95a1bb;
    border-collapse: collapse;
    font-size: 14px;
}

td {
    padding-left: 15px;
    padding-bottom: 12px;
    padding-top: 11px;
    font-weight: 400;
}

th { 
font-weight: 700;
padding-top: 12px;
padding-bottom: 11px;
text-align: center;
}


footer {
    background-color: rgba(163, 167, 255, 0.3);
    height: 70px;
    padding-top: 26px;
    padding-bottom: 27px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}